.idea
pkg
bin
out
src/github.com
*.pyc
*__pycache__
gosnmp_python.so
_gosnmp_python.so
gosnmp_python.py
gosnmp_python/py2
gosnmp_python/cffi
gopy
prebuilt
.cache
.pytest_cache
.vscode
main.go
build/
dist/
gosnmp_python.egg-info/
.DS_Store
Makefile
go.py
build.py
.python-version
scratch.py
.eggs
*VirtualEnv*